// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.past-posts {
  width: 100%;
  height: 173px;
  background-image: url(https://groupgets-files.s3.amazonaws.com/blog/assets/assets/hero-bg.jpg);
  border-bottom: 4px solid #555;
  border-top: 2px solid #555;
}

.post-title {
  a:hover {
    color: #3399ff;
  }
}

.cont-read {
  font-weight: bold;
  transition-duration: .3s;
}

.cont-read:hover {
  color: #555;
  font-weight: bold;
  transition-duration: .3s;
}

.post-top {
  max-width: 55rem;
  height: 173px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #1b9af7;
    text-decoration: none;
  }
  @media (max-width: 700px) {
    font-size: .73em;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.post-cont {
  max-height: 390px;
  overflow: hidden;
}